TOKEN=bot_token
OWNER_ID=user_id
LOG_SERVER_ID=server_id
LOG_CHANNEL_ID=channel_id
LIBRARIAN_ROLE_ID=role_id
DB_URL=postgres://username:password@host/database
PGHOST=host
PGDATABASE=database
PGUSER=user
PGPORT=5432
PGPASSWORD=password
DB_TABLE=Debug_table
PGSSLMODE=disable
